:root {
  --primary-color: #d15553;
  --light-primary-color: #d16c6a;
  --secondary-color: lightyellow;
  --transperant-gray: rgba(255, 255, 255, 0.1);
  --transperant-lightgray: rgba(255, 255, 255, 0.2);
  --light-color: #333;
  --dark-color: #111;
  --bg-color: #000101;
  --text-color: #eee;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header */
header {
  padding: 2rem 2rem 1.5rem 2rem;
  box-shadow: var(--shadow);
  position: relative;
  top: 0;
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  height: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.75s ease;
}

nav a:hover {
  color: var(--light-primary-color);
}

/* Mobile Menu */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  padding: 10px;
  right: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.hamburger-button:hover {
  cursor: pointer;
}

.hamburger-line {
  width: 23px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 6px;
}

.hamburger-button:hover .hamburger-line {
  background-color: white;
  transition: all 0.3s ease;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0px;
}
.mobile-menu ul {
  margin: 100px 20px;
  list-style: none;
}

.mobile-menu ul li {
  margin: 30px 0;
}

.mobile-menu a {
  font-size: 20px;
  transition: 0.3s;
}

.mobile-menu a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.75s ease;
}

.mobile-menu a:hover {
  color: var(--light-primary-color);
}

/*search bar*/
.search-container {
  position: relative;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.search-box {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  box-shadow: var(--shadow);
  transition: all 0.5s ease;
  background-color: #2d2d2d;
  color: var(--text-color);
}

.search-box:focus {
  outline: none;
  background-color: rgb(26, 29, 32);
  box-shadow: 0 0 0 2px var(--light-primary-color);
}

.search-icon {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-primary-color);
  cursor: pointer;
}

/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.featured-section {
  margin-bottom: 3rem;
}

.featured-movie {
  position: relative;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.featured-backdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem 2rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.featured-overlay h1 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
  line-height: 1.2;
}

.featuerd-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  max-width: 700px;
}

.featured-description {
  max-width: 700px;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-right: 1rem;
  box-shadow: var(--shadow);
}

.btn-primary:hover {
  background-color: var(--light-primary-color);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.btn-secondary {
  background-color: var(--transperant-gray);
  color: white;
  border: 2px solid white;
  margin-right: 1rem;
  box-shadow: var(--shadow);
}

.btn-secondary:hover {
  background-color: var(--transperant-lightgray);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

/* Catagories */
.category-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
}

.category-title {
  font-size: 1.8rem;
  font-weight: 650;
  color: var(--text-color);
}

.view-all {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.view-all:hover {
  text-decoration: underline;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.movie-card {
  background-color: var(--light-color);
  border-radius: 12px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.movie-card:hover .movie-poster img {
  transform: scale(1.05);
}

.movie-poster {
  position: relative;
  height: 330px;
  width: 100%;
  overflow: hidden;
}

.movie-poster img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.movie-rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: lightyellow;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
}

.movie-info {
  padding: 1rem;
}

.movie-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: var(--text-color);
}

footer {
  background-color: var(--bg-color);
  padding: 3rem 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--light-color);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  font-size: 1.2 rem;
  margin-bottom: 1.5rem;
}

.footer-column img {
  height: 23px;
  margin-bottom: 0.8rem;
}

.footer-column ul {
  list-style: none;
}

.footer-column a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: var(--light-primary-color);
}

.footer-row {
  margin-top: 2rem;
}

.footer-row ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.footer-row a {
  color: var(--secondary-color);
  text-decoration: none;
  align-items: center;
  transition: color 0.1s ease;
}

.footer-row a:hover {
  color: var(--light-primary-color);
}

.footer-row i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  color: #777;
}

/* Media Queries */
@media (max-width: 768px) {
  nav ul {
    gap: 1rem;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1.5rem;
  }

  .featured-movie {
    height: 400px;
  }

  .featured-overlay h1 {
    font-size: 1.8rem;
  }

  .featured-description {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  nav ul {
    display: none;
  }

  .featured-overlay h1 {
    font-size: 1.7rem;
  }

  .featured-description {
    display: none;
  }

  .btn {
    padding: 0.6rem;
  }

  .hamburger-button {
    display: block;
  }
}
